*{
    margin:0;
    padding: 0;
}

body{
    text-align: center;
    background-color: rgb(246, 249, 251);
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.container {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
}

input {
    width: 30%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #667eea;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: #667eea;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #5563c1;
}

ul {
    list-style: none;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 100px;
}


li {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
      transition: 0.3s;
}
/*li {*/
/*    background-color: #f4f4f4;*/
/*    margin-bottom: 10px;*/
/*    padding: 10px;*/
/*    border-radius: 6px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
  
/*}*/

li:hover {
    background-color: #e8e8e8;
}
li span {
    flex: 1;
    text-align: left;
}

.delete {
    background-color: #ff4d4d;
    padding: 6px 10px;
    font-size: 12px;
}

.delete:hover {
    background-color: #cc0000;
}
.done,
.edit,
.delete {
    padding: 6px 10px;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    transition: 0.3s;
}

/* Done Button */
.done {
    background-color: #28a745;
}

.done:hover {
    background-color: #218838;
}

/* Edit Button */
.edit {
    background-color: #ffc107;
    color: black;
}

.edit:hover {
    background-color: #e0a800;
}

/* Delete Button */
.delete {
    background-color: #ff4d4d;
}

.delete:hover {
    background-color: #cc0000;
}
